* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #0F172A;
    color: #FFFFFF;
    font-family: 'Nunito', sans-serif;
    min-height: 100vh;
    display: grid;
    place-content: center;
}

a {
    text-decoration: none;
}


.card {
    padding: 1em;
    margin: 0 1em;
    background-color: #1E293B;
    border-radius: .5em;
    position: relative;
}

.avatar {
    height: 5em;
    width: 5em;
    background: white;
    position: absolute;
    top: -2.5em;
    border: 5px solid #202528;
    border-radius: 50%;
    overflow: hidden;
}

.avatar > img {
    height: 100%;
    width: 100%;
}

.card-details > h1 {
    margin: 1.4em 0 .4em 0;
}

.card-details > p {
    color: #8FA4B2;
    line-height: 1.em;
}

.card-details > a {
    color: #93C5FD;
    background: transparent;
    border: 1px solid #3B82F6;
    padding: .8em 1em;
    border-radius: .5em;
    margin-top: 1em;
    display: block;
    text-align: center;
    transition: all .3s ease;
}

.card-details > a:hover {
    background-color: #3B82F6;
    color: white;
    transform: translateY(-2px);
}